<div class="container">
  <h2>Register</h2>
  <%= form_for @new_user, class: 'form_horizontal' do |f| %>
    <div class="form-group">
      <%= f.label :first_name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :location, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :location, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :state, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :state, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit 'Register', class: 'btn btn-default' %>
    </div>

  <% end %>
</div>
<div class="container">
  <h2>Login</h2>
  <%= form_for @user, url: sessions_path, class: 'form_horizontal' do |f| %>
    <div class="form-group">
      <%= f.label :email, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit 'Login', class: 'btn btn-default' %>
    </div>

  <% end %>

</div>
