<div class="container">
  <%= form_for @user, url: sessions_path, class: 'form_horizontal' do |f| %>
    <div class="form-group">
      <%= f.label :email, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit 'Login', class: 'btn btn-default' %>
    </div>

  <% end %>
</div>
